.section-login{
    height: 100vh;
    position:relative;
    color: white;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    @include mediaQuery(phone7){
        width: 100%;
    }
    .login{
    
        &__form{
        @include centerelements;
        background-color: rgba(255, 255, 255, 0.493);
        width: 30rem;
        height: 40rem;
            &-heading{
                text-align: center;
                top:1rem;
                position: relative;
            }
            box-shadow:0 2rem 3rem rgb(14, 14, 12);
            background-image: linear-gradient(to bottom,rgb(66, 168, 160), rgba(95, 97, 204, 0.13));
          
        &-logo{
            position: absolute;
            left: 5%;
            width: 6rem;
            height: 6rem;
            background-color: white;
            border-radius: 6rem;
            left:40%;
            top:7rem;
            i{
                font-size: 3rem;
                color:blue;
                text-align: center;
                position: absolute;
                @include centerelements;
               
            }
        }
        &__group{
            top:10rem;
            position: relative;
            padding: 1.2rem;

        }
    &__input{
       
        font-size: 1.5rem;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgb(255, 255, 255);
        display: block;
        padding:0;
        outline: none;
        &:focus{
            border-bottom: 3px solid blue;
        }
        &:focus:invalid{
            border-bottom: 3px solid red;
        }

   
    }    
    &__label{
        font-size:1.3rem;
        color:rgb(255, 255, 255);
        left:5%;
        margin-top: 0.4rem;
        display: block;
        position: relative;
        transition:all .2s;
      
    }
    &__input:placeholder-shown + label{
        visibility: hidden;
        opacity: 0;
        transform:translateX(-5rem);
    }
    
    .btn-login{
    position: absolute;
    top: 31rem;
    left:5rem;
    width:20rem;
    height: 3rem;
    border-radius: 3rem;
    border-color: blue;

    }
    .btn:hover{
        cursor:pointer;
        background-color: rgba(29, 79, 155, 0.507);
    }
    .already-member{
        position: absolute;
        left:20%;
        top: 35rem;
        font-size: 1.8rem;
        .to_register{
            color: blue;
        }
    }
    }


    }
   
    .login::before{
        background-image: url('../img/johnny-mcclung-uYTKzVp8loQ-unsplash.jpg');
        background-size: cover;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -2;
        display: block;
        content:"";
    }
}